@tailwind base;
@tailwind components;
@tailwind utilities;

.body-style {
  @apply bg-gray-50 text-gray-950 relative h-[5000px]
}

.home-bg-rigth {
  @apply bg-[#fbe2e3]
  absolute
  top-[-6rem]
  -z-10
  right-[11rem]
  h-[31.25rem]
  w-[31.25rem]
  rounded-full
  blur-[10rem]
  sm:w-[68.75rem];
}

.home-bg-left {
  @apply bg-[#dbd7fb]
  absolute
  top-[-1rem]
  -z-10
  left-[-35rem]
  h-[31.25rem]
  w-[50rem]
  rounded-full
  blur-[10rem]
  sm:w-[68.75rem]
  md:left-[-33rem]
  lg:left-[-28rem]
  xl:left-[-15rem]
  2xl:left-[-5rem];
}
